[Unit]
Description=kubeNgWebController

[Service]
EnvironmentFile=-/opt/ngfront/ngfront.cfg
ExecStart=/usr/local/bin/ngfront \
	$NGFRONT_IP \
	$NGFRONT_PORT \
	$NGFRONT_LOGLEVEL \
	$NGFRONT_LOGFILESIZE

[Install]
WantedBy=multi-user.target
