<!DOCTYPE html>
<html>
<head lang="en">
<title>nginx</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	href="/plugins/bootstrap-3.3.5/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/core/base.css" />
<link rel="stylesheet" type="text/css"
	href="/css/mod/nginx.css" />
</head>
<body>
	<header class="header">
	    <div class="navbar navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <a href="javascript:void(0);">
	                    <h2>Nginx配置管理</h2>
	                </a>
	            </div>
	            
	        </div>
	    </div>
	</header>
	
	<div class="page-container">
		<article>
			<div class="page-main">
				
				<div class="contentMain">
					<aside class="aside-btn">
	                    <div class="btns-group">
	                        <a id="clusterResource" class="Record action">
	                        <span class="btn btn-defaults btn-white">
	                        <span class="ic_left">Nginx代理区域</span>
	                        </span></a>
	                    </div>
	                </aside>  
	                <div class="item-obj">
	                	<div id="areas"></div>
		                <div class="areasTable">
		                	<table class="table">
		                		<thead>
		                			<tr>
		                				<td class="center" style="width:30%">nginx代理区域</td>
		                				<td style="width:69%">IP</td>
		                			</tr>
		                		</thead>
		                		<tbody id="areaNodesTbody">
		                			<!-- <tr>
		                				<td class="center" rowspan="5">user</td>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td class="center" rowspan="5">dmz1</td>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td class="center" rowspan="5">dmz2</td>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr>
		                			<tr>
		                				<td><a>192.168.1.2</a></td>
		                			</tr> -->
		                		</tbody>
		                	</table>
		                </div>
	            	</div> 
	            </div>
			</div>
		</article>
		
	</div>
	
	<script type="text/javascript" src="/js/plugins/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/plugins/echarts.common.min.js"></script>
    <script type="text/javascript" src="/plugins/nicescroll/jquery.nicescroll.js"></script>
    <script type="text/javascript" src="/js/nginx/area.js"></script>
</body>
</html> 