<!DOCTYPE html>
<html>
<head lang="en">
<title>nginx节点管理</title>
<meta charset="utf-8">
<meta http-equiv="Expires" CONTENT="0">
<meta http-equiv="Cache-Control" CONTENT="no-cache">
<meta http-equiv="Pragma" CONTENT="no-cache">
<link rel="stylesheet" type="text/css"
	href="/plugins/bootstrap-3.3.5/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/css/core/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="/plugins/Font-Awesome-master/css/font-awesome.css" />
<link rel="stylesheet" type="text/css"
	href="/css/core/base.css" />
<link rel="stylesheet" type="text/css"
	href="/css/mod/nginx.css" />

</head>
<body>
	<header class="header">
	    <div class="navbar navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <a href="javascript:void(0);">
	                    <h2>KubeNG管理</h2>
	                    <button type="button" onclick="testFun()">test</button>
	                </a>
	            </div>
	            
	        </div>
	    </div>
	</header>
	<div class="page-container">
		<article>
			<div class="page-main">
				<div class="contentTitle hide">
					<ol class="breadcrumb">
						<li><a href="javascript:void(0)"><i class="fa fa-home"></i>&nbsp;&nbsp;<span
								id="nav1">控制台</span></a></li>
						<li><i class="fa fa-angle-right"></i></li>
						<li class="active" id="nav2" style="width:120px">Nginx节点管理</li>
					</ol>
				</div>
				<div class="contentMain">
					<aside class="aside-btn">
	                    <div class="btns-group">
	                        <a id="clusterResource" class="Record action" onclick="areaRefresh()">
	                        <i class="fa fa-home"></i>nginx代理区域
	                        </a>>
	                        <a id="clusterResource" class="Record action" onclick="clientsRefresh()">节点管理</a>
	                    </div>
	                </aside> 
					<div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
										<i class="fa fa-map-marker" style="margin-right: 6px;"></i>Nginx节点管理
									</h5>

									<div class="ibox-tools">
										<!-- <a href="javascript:void(0);"
											id="nodePlayBtn"><i class="fa fa-play" title="启动"></i></a>
										<a href="javascript:void(0);"
											id="userStopBtn"><i class="fa fa-power-off" title="停止"></i></a> -->
										<a onclick="addOneWatcher(this)"><i class="fa fa-plus" title="新增watcher"></i></a>
										<a onclick="nginxCfgsExport(this)" class="issuedBtn no-drop"><i class="fa fa-download" title="下载配置"></i></a>
										<a onclick="delWatcher()"><i class="fa fa-trash"></i></a>
										<!-- <a onclick="issuedCfg(this)" class="issuedBtn no-drop"><i class="fa fa-sort-amount-asc" title="下发配置"></i></a> -->
										<a href="javascript:window.location.reload(true);"
											id="userReloadBtn"><i class="fa fa-repeat" title="刷新"></i></a>
									</div>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-striped table-hover dataTables-example">
                                    <thead>
                                        <tr>
											<th style="text-indent: 10px;text-align:center">
												<input type="checkbox" class="chkAll" id="checkallbox" /></th>
											<th>&nbsp;</th>
											<th>客户端ID</th>
											<th>节点名称</th>
											<th>节点IP</th>
											<th>APIServer端口</th>
											<th style="text-indent: 10px;">操作</th>
										</tr>
                                    </thead>
                                    <tbody id="clientsList">
                                    	
                                    	<!-- <tr>
                                    		<td style="text-indent: 30px;"><input
															type="checkbox" class="chkItem" name="ids"
															value=""></td>
											<td class="statusImg"><img src="../../images/stop.png" alt=""/>&nbsp;未工作</td>
                                    		<td>1111</td>
                                    		<td>node1</td>
                                    		<td>192.168.0.12</td>
                                    		<td>80</td>
                                    		<td class="operationBtns">
                                    			<a><i class="fa fa-play"></i></a>
                                    			<a><i class="fa fa-power-off"></i></a>
                                    			<a href="file:///C:/Users/Administrator/Desktop/src/views/nginx/area-nodes.html"><i class="fa fa-gear"></i></a>
                                    		</td>
                                    	</tr> -->
											
									</tbody>
                                    <tfoot class="hide">
										<tr>
											<td colspan="6">
												<ul class="pagination pull-right"></ul>
											</td>
										</tr>
									</tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
				
				
				
				</div>
			</div>
		</article>
	</div>
	<div id="issuedCfgInfo" style="display: none">
		<div class="cfgTable">
			<table class="table">
				<tbody>
					<tr>
						<td>k8s Master节点IP端口</td>
						<td class="editItem"><input class="editInput" id="KubernetesMasterHostInfo" type="text" placeholder="" name="KubernetesMasterHost" value="http://192.168.0.75:8080"></td>
					</tr>
					<tr>
						<td class="firstTd">k8s Api 版本</td>
						<td class="editItem" id="apiVersion">
							<select id="KubernetesAPIVersionInfo" name="KubernetesAPIVersion">
								<option value="api/v1">api/v1</option>
								<option value="api">api</option>
							</select>
							<button type="button" class="btn btn-info" onclick="loadNamespaces()">获取租户</button>
						</td>
					</tr>
					<tr>
						<td class="firstTd">nginx 重载命令</td>
						<td class="editItem"><input class="editInput" id="NginxReloadCommandInfo"
						type="text" value="nginx -s reload">
						</td>
					</tr>
					<tr>
						<td class="firstTd">工作区类型</td>
						<td><span id="JobZoneTypeOldVal"></span></td>
					</tr>		
					<tr>
						<td class="firstTd">nginx监听端口</td>
						<td class="editItem"><input type="number" class="editInput" id="NginxListenPortInfo" type="text" value="80"></td>
					</tr>
					<tr>
						<td class="firstTd">监控租户集合</td>
						<td class="namespaceAll">all</td>
						<td class="hide editItem editNamespacesTd"><span id="namespacesInfo"></span></td>
					</tr>
					<tr>
						<td class="firstTd">真实配置文件生成路径</td>
						<td class="editItem"><input class="editInput" id="NginxRealCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/real_cfg/"></td>
					</tr>
					<tr>
						<td class="firstTd">测试配置文件生成路径</td>
						<td class="editItem"><input class="editInput" id="NginxTestCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/test_cfg/"></td>
					</tr>
					<tr>
						<td class="firstTd">配置下载路径</td>
						<td class="editItem"><input class="editInput" id="DownloadCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/download_cfg/"></td>
					</tr>
					<!-- <tr>
						<td class="firstTd">日志打印级别</td>
						<td class="editItem">
							<select id="LogPrintLevelInfo">
								<option vlaue="info">info</option>
								<option value="debug">debug</option>
								<option value="warn">warn</option>
								<option value="error">error</option>
								<option value="fatal">fatal</option>
							</select>
						</td>
					</tr> -->
					<tr>
						<td class="firstTd">nginx server类型</td>
						<td class="editItem">
							<select id="DefaultNginxServerTypeInfo">
								<option value="domain">domain</option>
								<option value="ip">ip</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="firstTd">域名后缀</td>
						<td class="editItem"><input class="editInput" id="DomainSuffixInfo" type="text" value="yz.local"></td>
					</tr>
					<tr>
						<td class="firstTd">工作模式</td>
						<td class="editItem">
							<select id="WorkModeInfo">
								<option value="k8snginx">k8snginx</option>
								<option value="kubeng">kubeng</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="firstTd">nginx配置规则检查命令</td>
						<td class="editItem"><input class="editInput" id="NginxTestCommandInfo" type="text" value="nginx -t"></td>
					</tr>
					<!-- <tr>
						<td class="firstTd">备用upstream服务器节点</td>
						<td class="editItem"><input class="editInput" id="StandbyUpstreamNodesInfo" type="text" name="StandbyUpstreamNodes" value="192.168.0.80,192.168.0.81,192.168.0.82"></td>
					</tr>	 -->		
				</tbody>
			</table>
		</div>
	</div>
	<div id="addOneWatcherInfo" style="display: none">
		<div class="cfgTable">
			<table class="table">
				<tbody>
					<tr>
						<td>k8s Master节点IP端口</td>
						<td class="editItem"><input class="editInput" id="addKubernetesMasterHostInfo" type="text" placeholder="" name="addKubernetesMasterHost" value="" disabled="true"></td>
					</tr>
					<tr>
						<td class="firstTd">k8s Api 版本</td>
						<td class="editItem" id="apiVersion">
							<input type="text" id="addKubernetesAPIVersionInfo" name="KubernetesAPIVersion" class="editInput" disabled="true" style="width:50%">
							<!-- <select id="addKubernetesAPIVersionInfo" name="KubernetesAPIVersion" disabled="true">
								<option value="api/v1">api/v1</option>
								<option value="api">api</option>
							</select> -->
							<button type="button" class="btn btn-info" onclick="loadNamespaces()">获取租户</button>
						</td>
					</tr>
					<tr>
						<td class="firstTd">nginx 重载命令</td>
						<td class="editItem"><input class="editInput" id="addNginxReloadCommandInfo"
						type="text" value="nginx -s reload">
						</td>
					</tr>
					<tr>
						<td class="firstTd">工作区类型</td>
						<td><span id="addJobZoneTypeOldVal"></span></td>
					</tr>		
					<tr>
						<td class="firstTd">nginx监听端口</td>
						<td class="editItem"><input type="number" class="editInput" id="addNginxListenPortInfo" type="text" value="80"></td>
					</tr>
					<tr>
						<td class="firstTd">监控租户集合</td>
						<td class="namespaceAll">all</td>
						<td class="hide editItem editNamespacesTd"><span id="addnamespacesInfo"></span></td>
					</tr>
					<tr>
						<td class="firstTd">真实配置文件生成路径</td>
						<td class="editItem"><input class="editInput" id="addNginxRealCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/real_cfg/"></td>
					</tr>
					<tr>
						<td class="firstTd">测试配置文件生成路径</td>
						<td class="editItem"><input class="editInput" id="addNginxTestCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/test_cfg/"></td>
					</tr>
					<tr>
						<td class="firstTd">配置下载路径</td>
						<td class="editItem"><input class="editInput" id="addDownloadCfgDirPathInfo" type="text" value="/etc/nginx/conf.d/download_cfg/"></td>
					</tr>
					<!-- <tr>
						<td class="firstTd">日志打印级别</td>
						<td class="editItem">
							<select id="addLogPrintLevelInfo">
								<option vlaue="info">info</option>
								<option value="debug">debug</option>
								<option value="warn">warn</option>
								<option value="error">error</option>
								<option value="fatal">fatal</option>
							</select>
						</td>
					</tr> -->
					<tr>
						<td class="firstTd">nginx server类型</td>
						<td class="editItem">
							<select id="addDefaultNginxServerTypeInfo">
								<option value="domain">domain</option>
								<option value="ip">ip</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="firstTd">域名后缀</td>
						<td class="editItem"><input class="editInput" id="addDomainSuffixInfo" type="text" value="yz.local"></td>
					</tr>
					<tr>
						<td class="firstTd">工作模式</td>
						<td class="editItem">
							<select id="addWorkModeInfo">
								<option value="k8snginx">k8snginx</option>
								<option value="kubeng">kubeng</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="firstTd">nginx配置规则检查命令</td>
						<td class="editItem"><input class="editInput" id="addNginxTestCommandInfo" type="text" value="nginx -t"></td>
					</tr>
					<!-- <tr>
						<td class="firstTd">备用upstream服务器节点</td>
						<td class="editItem"><input class="editInput" id="addStandbyUpstreamNodesInfo" type="text" name="addStandbyUpstreamNodes" value="192.168.0.80,192.168.0.81,192.168.0.82"></td>
					</tr> -->
					<tr>
						<td class="firstTd">K8s监视器工作状态</td>
						<td class="editItem">
							<select id="addK8sWatcherStatus">
								<option value="start">start</option>
								<option value="stop">stop</option>
							</select>
						</td>
					</tr>		
				</tbody>
			</table>
		</div>
	</div>
	<div id="compareClientInfo" style="display: none">
		<div class="cfgTable">
			<table class="table">
				<thead>
					<tr>
						<th style="text-indent: 10px;">&nbsp;</th>
						<th>客户端ID</th>
						<th>节点IP</th>
						<th>端口</th>
					</tr>
				</thead>
				<tbody id="compareClientbody">
					
				</tbody>
			</table>
		</div>
	</div>
	<div id="delWatcherInfo" style="display: none">
		<div class="cfgTable">
			<table class="table">
				<thead>
					<tr>
						<th style="text-indent: 10px;"><input type="checkbox" class="chkAll"></th>
						<th>watcherID</th>
						<th>监控租户</th>
					</tr>
				</thead>
				<tbody id="watcheridbody">
					
				</tbody>
			</table>
		</div>
	</div>
	<div id="exportNginxWatcher" style="display: none">
		<div class="cfgTable">
			<table class="table">
				<thead>
					<tr>
						<th style="text-indent: 10px;"><input type="checkbox" class="chkAll"></th>
						<th>watcherID</th>
						<th>监控租户</th>
					</tr>
				</thead>
				<tbody id="exportNginxWatcherbody">
					
				</tbody>
			</table>
		</div>
	</div>
	<div id="box" onmouseover="display()" onmouseout="disappear()">


	</div>
	

	<script type="text/javascript" src="/js/plugins/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="../../js/plugins/dataTables.bootstrap.js"></script> -->
	<script type="text/javascript" src="/plugins/layer/layer.js"></script>
	<script type="text/javascript" src="/js/customer/custom.js"></script>
	<script type="text/javascript" src="/js/nginx/clients.js"></script>
	<script type="text/javascript">
		//  $('.dataTables-watchers').dataTable({
		// 	"aoColumnDefs" : [ {
		// 		"bSortable" : false,
		// 		"aTargets" : [ 0, 1,6 ]
		// 	} ],
		// 	//"aaSorting": [[ 5, "desc" ]]
		// });
		
	</script>
</body>
</html> 