<!DOCTYPE html>
<html>
<head lang="en">
<title>nginx配置</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css"
	href="/plugins/bootstrap-3.3.5/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="/plugins/Font-Awesome-master/css/font-awesome.css" />
<link rel="stylesheet" type="text/css"
	href="/css/core/base.css" />
<link rel="stylesheet" type="text/css"
	href="/css/mod/nginx.css" />
</head>
<body>
	<header class="header">
	    <div class="navbar navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <a href="javascript:void(0);">
	                    <h2>Nginx配置管理</h2>
	                </a>
	            </div>
	            
	        </div>
	    </div>
	</header>
	
	<div class="page-container">
		<article>
			<div class="page-main">
				
				<div class="contentMain">
					<aside class="aside-btn">
	                    <div class="btns-group">
	                        <a id="clusterResource" class="Record action">
	                        <span class="btn btn-defaults btn-white">
	                        <span class="ic_left">代理配置</span>
	                        </span></a>
	                    </div>
	                    
	                    <div id="constantParam">
	                    <input type="hidden" id="area" name="area" value="${area }" />
	                    </div>
	                    <c:if test="${user == 'user' }">
		                    <div class="searchFun" style="float: left; text-align: center; margin: 0px 10px; margin-top:20px; float: right"
		                                 align="right">
		                            <label style="line-height: 35px">服务1:</label>
		                            <select name="search_service" id="search_service" onchange="searchService(this)"
		                                    style="height: 30px;display: inline; width: 140px; border-radius: 5px; ">
		                                    <option value="">-----请选择-----</option>
		                                    <option value="all">All</option>
		                                <c:forEach items="${serviceTopo}" var="service">
		                                    <option value="${service.serviceName }" flag="${service.flag}" >${service.serviceName }</option>
		                                </c:forEach>
		                            </select>
		                    </div>
	                   </c:if>
	                   
	                   <c:if test="${user == 'root' }">
	                        <div class="searchFun" style="float: left; text-align: center; margin: 0px 10px; margin-top:20px; float: right"
	                                     align="right">
	                                <label style="line-height: 35px">服务名:</label>
	                                <select name="search_service" id="search_service" onchange="findNgByOneApp(this)"
	                                        style="height: 30px;display: inline; width: 140px; border-radius: 5px; ">
	                                        <option value="">-----请选择-----</option>
	                                        <c:forEach items="${serviceList}" var="service">
                                            <option value="${service.serviceName }" flag="${service.flag}"
                                             namespace="${service.namespace }"  >${service.serviceName} </option>
                                        </c:forEach>
	                                </select>
	                        </div>
	                        
	                        <div class="searchFun" style="float: left; text-align: center; margin: 0px 10px; margin-top:20px; float: right"
	                                 align="right">
	                            <a class="fa fa-repeat" onclick="refreshNg(this)"></a>
	                                &nbsp;&nbsp;&nbsp;
	                            <label style="line-height: 35px">租户:</label>
	                            <select name="search_user" id="search_user" onchange="searchByUser(this)"
	                                    style="height: 30px;display: inline; width: 140px; border-radius: 5px; ">
	                                    <option value="">All</option>
	                                <c:forEach items="${userList}" var="user">
	                                    <option value="${user.metadata.name }">${user.metadata.name }</option>
	                                </c:forEach>
	                            </select>
	                       </div>
	                   </c:if>
	                   <input type = "hidden" id = "userType" value = "${user }">
	                </aside>
	                
					<div class="item-obj">
						<div id="nginxCfgCheckInfo">
							
						</div>
						<div class="nginxCfgBtns">
						<button id="hypBtn">test</button>
						<a class="" onclick="nginxCfgToolMore(this)" tooltype="test" title="批量nginx -t检测">
						 <i class="fa fa-bug"></i>
						</a>
		                <a class="" onclick="nginxCfgToolMore(this)" tooltype="start" title="批量启动nginx服务">
		                  <i class="fa fa-play"></i>
		                </a>
		                <a class="" onclick="nginxCfgToolMore(this)" tooltype="stop" title="批量停止nginx服务">
		                  <i class="fa fa-power-off"></i>
		                </a>
		                </div>
						<div class="addNginxCfg">
							<div class="row addNginxStepRow ">
									<div class="col-sm-12">
                                    <!-- <c:forEach items="${ngCfgsK8SList}" var="ngCfgs"> -->
										<div class="ibox float-e-margins">
											<div class="ibox-title">
												<h5>示例配置 ${ngCfgs.namespace} ${ngCfgs.appName} ${ngCfgs.serverName }:${ngCfgs.listenPort }</h5>
												<div class="ibox-tools">
													<a class="" onclick="nginxFormCommOfNode(this)">
						                                <i class="fa fa-save" ></i>
						                            </a>
												    <a class="" onclick="" index="index"
												    appName="${ngCfgs.appName}" namespace="${ngCfgs.namespace}" serverName="${ngCfgs.serverName }:${ngCfgs.listenPort }"  flag=0 >
                                                        <i class="fa fa-trash" ></i>
                                                    </a>
													<a class="collapse-link" onclick="deployOneNg(this)" index="index"
													appName="${ngCfgs.appName}" namespace="${ngCfgs.namespace}" serverName="${ngCfgs.serverName }:${ngCfgs.listenPort }"  flag=0 >
						                                <i class="fa fa-chevron-up"></i>
						                            </a>
												</div>
											</div>

											<div class="ibox-content" style="display:block">
											<div class="ngConfigPartList">
											<div class="ngConfigPart">
											<input type="checkbox" class="ngConfigCheckbox"/>
											<span><i class="fa fa-plus fa-serverPlus" onClick="addOneSerPart(this)"></i></span>
                                              <span><i class="fa fa-openid" onClick="sendSerPart(this)"></i></span>
                                              <span><i class="fa fa-trash" onClick="delOneSerPart(this)"></i></span>
                                              <span><i class="fa fa-caret-down" onClick="toggleOneSerPart(this)"></i></span>
                                              <span class="ngConfigPartTit"></span>
												 <div class="ngConfigPartCon">
												 <form class="nginxForm" id="nginxForm" method="post" action="<%=path%>/saveNginxForm">
													<div class="nginx-label">
														<span class="upstreamPartTit">upstream</span><input type="text" class="appNameAndNamespace" name="appNameAndNamespace" value="demo-testbonc" disabled>{
													</div>
													<div class="nginx-label col-md-offset-1">
														<select id="IsUpstreamIPHash" name="IsUpstreamIPHash">
															<option value="0">none</option>
															<option value="1">ip_hash</option>
														</select>;
													</div>
													<div id="nginx-sers"><div class="nginx-label col-md-offset-1">
														<span>server:</span><input type="text" class="ipAndUpstreamPort" name="ipAndUpstreamPort" value="192.168.0.81:31586">;<i class="fa fa-plus addSerBtn"></i><i class="fa fa-minus delSerBtn"></i>
													</div></div>
													<div class="nginx-label">
														<span>}</span>
													</div>
													<div class="serverPartList">
														<div class="serverPart">
															<div class="nginx-label">
																<span class="serverPartTit">server{</span>
															</div>
															<div class="serverPartCon">
																<div class="nginx-label col-md-offset-1">
																	<span>listen:</span><input type="text" id="ListenPort" name="ListenPort" value="80">;
																</div>
																<div class="nginx-label col-md-offset-1">
																	<span>server_name:</span><input type="text" id="serverName"  name="serverName" value="192.168.252.133">;
																</div>
																<div class="nginx-label col-md-offset-1">
																	<span>location:</span><input type="text" id="Location" name="Location" value="/testbonc/demo">{
																</div>
																<div class="nginx-label col-md-offset-2">
																	<span>proxy_pass:</span><input type="text" id="proxy_pass" name="" value="" disabled><input type="text" id="" name="" value="/demo/">;
																</div>
																<div class="nginx-label col-md-offset-2">
																	<span>proxy_set_header Host $host:</span><input type="text" class="sameToListenPort" name="" value="" disabled>;
																</div>
																<div class="nginx-label col-md-offset-2">
																	<span>proxy_set_header X-Real-IP $remote_addr:</span><input type="text" class="sameToListenPort" id="" name="" value="" disabled>;
																</div>
																<div class="nginx-label col-md-offset-2">
																	<span>proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for</span>;
																</div>
																<div class="nginx-label col-md-offset-2">
																	<span>proxy_redirect:</span><input type="text" id="ProxyRedirectSrcPath" name="ProxyRedirectSrcPath" value="http://demo:8080/demo">
																	<input type="text" id="ProxyRedirectDestPath" name="ProxyRedirectDestPath" value="/testbonc/demo">;
																</div>
																<div class="nginx-label col-md-offset-1">
																	<span>}</span>
																</div>
																<div class="nginx-label">
																	<span>}</span>
																</div>
															</div>
														</div>
													</div>
													
												</form> 
												</div>
												</div>
												</div>
											</div><!-- ibox-content -->
										</div><!-- ibox -->
										<!-- </c:forEach> -->
							            <c:forEach items="${ngCfgsEXTList}" var="ngCfgs">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-title">
                                                <h5>${ngCfgs.namespace} ${ngCfgs.appName} ${ngCfgs.serverName }:${ngCfgs.listenPort }</h5>
                                                <div class="ibox-tools">
                                                	<a class="" onclick="nginxFormComm(this)">
                                                        <i class="fa fa-save" ></i>
                                                    </a>
                                                    <a class="" onclick="deleteOneNg(this)"
                                                    appName="${ngCfgs.appName}" namespace="${ngCfgs.namespace}" serverName="${ngCfgs.serverName }:${ngCfgs.listenPort }"  flag=1 >
                                                        <i class="fa fa-trash" ></i>
                                                    </a>
                                                    <a class="collapse-link" onclick="deployOneNg(this)"
                                                    appName="${ngCfgs.appName}" namespace="${ngCfgs.namespace}" serverName="${ngCfgs.serverName }:${ngCfgs.listenPort }" flag=1 >
                                                        <i class="fa fa-chevron-up"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="ibox-content" style="display:none">
											</div>
										  </div><!-- addNginxStepRow -->
			                              </c:forEach> 
						</div>
                    </div>
				</div>
			</div>
		</article>
	</div>
	
	<div id="sendSerSelect" style="display: none;">
        <form>
             <table class="table enabled" style="padding: 5px; margin: 10px">
             	<thead>
             	</thead>
                <tbody class="BORDER" id="tbody">
                </tbody>
             </table>
        </form>
    </div>
    <div id="nginxToolSelect" style="display: none;">
        <form>
             <table class="table enabled" style="padding: 5px; margin: 10px">
                <thead>
                </thead>
                <tbody class="BORDER" id="tbody">
               
                </tbody>
             </table>
        </form>
    </div>
    <div id="nginxCompareSelect" style="display: none;">
        <form>
             <table class="table enabled" style="padding: 5px; margin: 10px">
                <thead>
                </thead>
                <tbody class="BORDER" id="tbody">
               
                </tbody>
             </table>
        </form>
    </div>
    <div id="nginxDownload" style="display: none;">
        <form>
             <table class="table enabled" style="padding: 5px; margin: 10px">
                <thead>
                </thead>
                <tbody class="BORDER" id="tbody">
                    <tr><td>用户名：</td><td><input type="text" name="ngDownUser" id="ngDownUser" /></td></tr>
                    <tr><td>密码：</td><td><input type="password" name="ngDownPwd" id="ngDownPwd" /></td></tr>
                </tbody>
             </table>
        </form>
    </div>
    <script type="text/javascript" src="/js/plugins/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-3.3.5/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/nginx/nginxcfg.js"></script>
</body>
</html> 
